{
    "Addr":":8000",
    "Host":"https://example.com",
    "Github":{
        "ClientID":     "ClientID",
        "ClientSecret": "1a821fbcb41489ClientSecret87f8f5af942adedf3382548aa0",
        "Scope":""
    },
    "WechatworkQR":{
        "CorpID":  "CorpID",
        "AgentID": 1000000,
        "Secret":  "Secret"
    },
    "WechatworkOauth":{
        "CorpID":  "CorpID",
        "AgentID": 1000000,
        "Secret":  "Secret",
        "Scope":"Scope"
    },    
    "Windowslive":{
        "ClientID":     "ClientID",
        "ClientSecret": "ClientSecret",
        "Scope":"wl.basic"
    },
    "Wechatmp":{
    "AppID":"AppID",
    "AppSecret":"AppSecret",
    "Scope":"snsapi_base"
    }，
    "Facebook":{
        "ID": "ID",
        "key": "key",
        "CLients":{
            "ProxyURL":"socks5://127.0.0.1:1234"
        }
    }    
}